In [ ]:
# 타이타닉 생존자 체크
# pandas
import pandas as pd
import numpy as np
import random

titanic_df = pd.read_csv('train.csv', index_col = 0)
titanic_df

In [ ]:
# 1. 결측차 처리(age- 평균값적용, Cabin- N, Embarked-N)으로 적용

mean_age = titanic_df['Age'].mean()
print(mean_age)

# 결측치 -> mean_age, 값을 덮어씌우기 위해 inplace = True 이용
titanic_df['Age'].fillna(mean_age, inplace=True)
titanic_df['Cabin'].fillna('N', inplace=True)
titanic_df['Embarked'].fillna('N', inplace=True)

titanic_df

In [ ]:
# 2. 성(Sex)별 생존자 합을 구해주세요.
titanic_df.groupby('Sex').sum()['Survived']

In [ ]:
# 3. 클래스(Pclass)별 생존자 합을 구해주세요.
titanic_df.groupby('Pclass').sum()['Survived']

In [ ]:
# 4. 나이(Age)를 활용 유아 10대, 20대, 30대, 40대, 50대, 60대, 노인의 생존자합을 구해주세요.

# def 함수 사용
def age_range(age):
    age = int(age)
    if age >= 70:
        return '노인'
    elif age >= 10:
        return str(age//10) + '0대'
    else:
        return '유아'

# age_range 함수 사용해서 Age_Range column 생성
titanic_df['Age_Range'] = titanic_df['Age'].apply(age_range)

# 생존자 합
titanic_df.groupby('Age_Range').sum()['Survived']